.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    cursor: pointer;
    z-index: 1;
}

.slick-prev:hover,
.slick-next:hover {
    opacity: 0.5;
}

.slick-next {
    right: 0;
}
.slick-prev {
    left: 0;
}

.slick-prev:before,
.slick-next:before {
    font-size: 40px;
    line-height: 1;
    color: black;
    opacity: 0.5;
}
